.counter{
    width: 270px;
    border-style: solid;
     border-width: thick;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top:10%;
    
    
    
    color:black;
    font-family: 'Lexend Peta', sans-serif;
}
.buttons{
    width: 270px;
    background: grey;
    border-style: solid;
    border-width: thick;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    /* display: flex; */
    /* flex-direction: column; */
    /* top: 50%; */
    /* left: 50%; */
    padding: 40px;
    text-align: center;
    margin: auto;
  
    color:black;
    font-family: 'Lexend Peta', sans-serif;
}

.button{
    
         margin: auto;
        text-decoration: none;
        color: black;
        font-size: 1.4em;
        /* padding: 5px 5px; */
        width: 80px;
        height: 30px;
        margin: 0 4px;
        display: inline-block;
        vertical-align: top;
    
}
.button:hover{
    cursor: pointer;
    color:white;
    background:black;
    border: 2px solid silver;
    border-radius: 10px;
    
 }